<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HTML!</title>
</head>

<body>
  <div>
    <h1>HTML Simple</h1>
    <div>
      <p>El browser sabe cómo leer la estructura y cómo acomodar los elementos</p>
    </div>
    <div>
      <p>Incluso sabe si tiene que hacer algo más con las <span class="text-danger">"instrucciones"</span> que recibe en el elemento HTML estructurado, como ir a buscar una imagen</p>
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg" />
    </div>
  </div>
</body>

</html>