<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HTML!</title>
</head>

<body>
  <div>
    <h1>Bienvenido</h1>
    <div>
      <p>¿A quién quieres vistar?</p>
    </div>
    <div>
      <ul>
        <li><a href="/mascota/Cala">Cala</a></li>
        <li><a href="/mascota/Mita">Mita</a></li>
        <li><a href="/mascota/Pleistoceno Hegel">Pleistoceno Hegel</a></li>
        <li><a href="/mascota/Nara">Nara</a></li>
      </ul>
    </div>
  </div>
</body>

</html>